<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Edit Patient</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Edit Patient</h1>-->
<!--    <form action="/patients/<%=patient._id%>?_method=PUT" method="POST">-->
<!--        <div>-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" id="name" name="patient[name]" value="<%=patient.name%>">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="gender">Gender</label>-->
<!--            <input type="text" id="name" name="patient[gender]" value="<%=patient.gender%>">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="age">Age</label>-->
<!--            <input type="number" id="age" name="patient[age]" value="<%=patient.age%>">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="image">Profile Picture (optional)</label>-->
<!--            <input type="file" id="image" name="patient[image]">-->
<!--        </div>-->

<!--        <button>Update Patient</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Patient</h1>
    <div class="col-6 offset-3">
        <form action="/patients/<%=patient._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="patient[name]" value="<%=patient.name%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="gender">Gender</label>
                <input class="form-control" type="text" id="name" name="patient[gender]" value="<%=patient.gender%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="age">Age</label>
                <input class="form-control" type="number" id="age" name="patient[age]" value="<%=patient.age%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="extra_notes">Extra Notes</label>
                <textarea class="form-control" type="text" id="extra_notes" name="patient[extra_notes]" value="<%=patient.extra_notes%>"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
                    <div>
                        <label for="image">Profile Picture (optional)</label>
                        <input type="file" id="image" name="patient[image]">
                    </div>
                    <button class="btn btn-success">Update Patient</button>
        </form>
        <a href="/patients/<%= patient._id%>">Back To Patient</a>
    </div>
</div>