<%- layout('layouts/boilerplate') %>

    <h1>All Patients</h1>
    <div>
        <a href="/patients/new">Add Patient</a>
    </div>
    <% for (let patient of patients) {%>
    <div class="card" >
        <div class="row">
            <div class="col-md-2">
                <% if (patient.image.includes('\\')) { %>
                    <img src="/<%= patient.image.replace(/\\/g, '/') %>" alt="">
                <% } else { %>
                    <img src="<%= patient.image %>" alt="">
                <% } %>

            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title"><%= patient.name %></h5>
                    <p class="card-text">
                        <%=patient.age%>, <%=patient.gender%>
                    </p>
                    <a class="btn btn-primary" href="/patients/<%=patient._id%>">View <%=patient.name%></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Extra Notes:</h5>
                    <p class="card-text">
                        <%=patient.extra_notes%>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%}%>
