<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1><%= patient.name %></h1>
    <h2><%= patient.age %>, <%= patient.gender %></h2>
    <h2>Diagnosis History</h2>
    <ul>
        <%  for(let record of patient.diagnosisHistory) { %>
                <li>
                    <img src="<%= record.image %>" alt="Diagnosis Image" width="100">
                    <p>Prediction: <%=record.prediction%></p>
                </li>
        <% } %>
    </ul>
    <form action="/patients/<%= patient._id %>/diagnose" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="" required>
        <button type="submit">Upload for Diagnosis</button>
    </form>
    <p>
        <a href="/patients/<%=patient._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/patients/<%=patient._id%>_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/patients">All Patients</a>
    </footer>

</body>
</html>